DB Apps/DBA-Homework/XML/XML-Basics/XMLSchema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/XMLSchema.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
           

>
  <xs:complexType name="endorsments" minOccurs="0">
    <xs:sequence>
      <xs:element name="author" type="xs:string"/>
      <xs:element name="authorEmail" type="xs:string"/>
      <xs:element name="date" type="xs:string"/>
      <xs:element name="text" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
